@font-face {
    font-family: 'EgyptianHeadline';
    src: url('fonts/Guardian Egyp Web-Regular.eot');
    src: url('fonts/Guardian Egyp Web-Regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/Guardian Egyp Web-Regular.woff') format('woff'),
         url('fonts/Guardian Egyp Web-Regular.ttf') format('truetype'),
         url('fonts/Guardian Egyp Web-Regular.svg#Guardian Egyptian Web') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family: 'EgyptianHeadline';
    src: url('fonts/Guardian Egyp Web-Semibold.eot');
    src: url('fonts/Guardian Egyp Web-Semibold.eot?#iefix') format('embedded-opentype'),
         url('fonts/Guardian Egyp Web-Semibold.woff') format('woff'),
         url('fonts/Guardian Egyp Web-Semibold.ttf') format('truetype'),
         url('fonts/Guardian Egyp Web-Semibold.svg#Guardian Egyptian Web') format('svg');
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family: 'EgyptianHeadline';
    src: url('fonts/Guardian Egyp Web-Medium.eot');
    src: url('fonts/Guardian Egyp Web-Medium.eot?#iefix') format('embedded-opentype'),
         url('fonts/Guardian Egyp Web-Medium.woff') format('woff'),
         url('fonts/Guardian Egyp Web-Medium.ttf') format('truetype'),
         url('fonts/Guardian Egyp Web-Medium.svg#Guardian Egyptian Web') format('svg');
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family: 'EgyptianText';
    src: url('fonts/Guardian Text Egyp Web-Reg.woff') format('woff'),
         url('fonts/Guardian Text Egyp Web-Reg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family: 'EgyptianText';
    src: url('fonts/Guardian Text Egyp Web-Med.woff') format('woff'),
         url('fonts/Guardian Text Egyp Web-Med.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family: 'EgyptianText';
    src: url('fonts/Guardian Text Egyp Web-Reg It.woff') format('woff'),
         url('fonts/Guardian Text Egyp Web-Reg It.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
}